In [1]:
import akshare as ak
# import common_mysql as common
# import common_pg as common
import sys
sys.path.append('/Users/afirez/studio/python/auto-trade/examples/py_quant/common')
sys.path.append('/Users/afirez/studio/python/auto-trade/examples/py_quant/common/common_pg.py')

print("sys.path:",sys.path)

# import common.common_pg as common_db

import common_pg as common_db

print(ak.__version__)

sys.path: ['/Users/afirez/studio/python/auto-trade/examples/py_quant/datasource/akshare/test', '/usr/local/anaconda3/envs/py38/lib/python38.zip', '/usr/local/anaconda3/envs/py38/lib/python3.8', '/usr/local/anaconda3/envs/py38/lib/python3.8/lib-dynload', '', '/usr/local/anaconda3/envs/py38/lib/python3.8/site-packages', '/usr/local/anaconda3/envs/py38/lib/python3.8/site-packages/IPython/extensions', '/Users/afirez/.ipython', '/Users/afirez/.local/lib/python3.8/site-packages', '/Users/afirez/.local/lib/python3.8/site-packages', '/Users/afirez/studio/python/auto-trade/examples/py_quant/common', '/Users/afirez/studio/python/auto-trade/examples/py_quant/common/common_pg.py']
pg_host : 192.168.31.110 ,pg_user : postgres ,pg_db : k_house
1.6.64

In [3]:
stock_zh_a_daily_qfq_df = ak.stock_zh_a_daily(symbol="sz002594", start_date="20200101", end_date="20210101", adjust="qfq")
print(stock_zh_a_daily_qfq_df)

          date    open    high     low   close      volume  outstanding_share  \
0   2020-01-02   47.62   48.40   47.44   48.10  15934570.0       1.141626e+09
1   2020-01-03   48.13   48.91   47.61   47.97  12993607.0       1.141626e+09
2   2020-01-06   47.32   49.11   47.12   48.21  16987138.0       1.141626e+09
3   2020-01-07   48.24   48.43   47.70   47.98   9340058.0       1.141626e+09
4   2020-01-08   47.48   48.28   47.08   47.21  11097445.0       1.141626e+09
..         ...     ...     ...     ...     ...         ...                ...
238 2020-12-25  183.17  186.00  180.95  185.07  21133069.0       1.145668e+09
239 2020-12-28  184.15  190.21  182.45  187.78  30338431.0       1.145668e+09
240 2020-12-29  185.85  185.85  178.31  178.45  36117782.0       1.145668e+09
241 2020-12-30  180.51  191.79  180.51  185.85  51043108.0       1.145668e+09
242 2020-12-31  188.71  195.67  184.11  194.14  50511942.0       1.145993e+09

     turnover
0    0.013958
1    0.011382
2    0.014880
3    0.008181
4    0.009721
..        ...
238  0.018446
239  0.026481
240  0.031526
241  0.044553
242  0.044077

[243 rows x 8 columns]

In [4]:
# 历史行情数据
# 日频率
# 接口: stock_zh_a_daily
# 目标地址: https://finance.sina.com.cn/realstock/company/sh600006/nc.shtml(示例)
# 描述: A 股数据是从新浪财经获取的数据, 历史数据按日频率更新; 注意其中的 sh689009 为 CDR, 请 通过 stock_zh_a_cdr_daily 接口获取
# 限量: 单次返回指定 A 股上市公司指定日期间的历史行情日频率数据
# adjust=""; 默认为空: 返回不复权的数据; qfq: 返回前复权后的数据; hfq: 返回后复权后的数据;
symbol="sz002594"

stock_zh_a_daily_qfq_df = ak.stock_zh_a_daily(symbol=symbol, adjust="qfq")
print(stock_zh_a_daily_qfq_df)

           date    open    high     low   close      volume  \
0    2011-06-30   21.55   25.66   21.55   24.93  56292536.0
1    2011-07-01   25.25   27.43   24.49   27.43  33561280.0
2    2011-07-04   28.29   30.17   28.00   30.17  21964592.0
3    2011-07-05   32.11   33.19   31.24   32.38  38108084.0
4    2011-07-06   32.13   34.83   31.46   32.72  31296720.0
...         ...     ...     ...     ...     ...         ...
2678 2022-07-25  325.89  326.89  319.90  322.85  11501710.0
2679 2022-07-26  322.38  327.57  319.90  324.90  10765616.0
2680 2022-07-27  323.90  329.69  320.91  325.69   9105572.0
2681 2022-07-28  328.91  331.34  323.90  325.33  10906517.0
2682 2022-07-29  323.00  327.80  317.96  320.36  11485364.0

      outstanding_share  turnover
0          6.400000e+07  0.879571
1          6.400000e+07  0.524395
2          6.400000e+07  0.343197
3          6.400000e+07  0.595439
4          6.400000e+07  0.489011
...                 ...       ...
2678       1.164765e+09  0.009875
2679       1.164765e+09  0.009243
2680       1.164765e+09  0.007818
2681       1.164765e+09  0.009364
2682       1.164765e+09  0.009861

[2683 rows x 8 columns]

In [ ]:
# common_db.insert_db(stock_zh_a_daily_qfq_df, "stock_zh_a_daily", True, "`symbol`")

In [5]:
# 0. 准备工作

dbname = "k_house"
#   0.1 创建数据库连接

#  创建数据库 股票分析数据库 的连接 
# conn, curs, engine = common_db.creat_conn_with_pg(dbname=f'{dbname}_for_test')

#  创建数据库 k_house 的连接 
conn2, curs2, engine2 = common_db.creat_conn_with_pg(dbname=dbname)

In [8]:
import pandas as pd

In [6]:
table_name = 'stock_zh_a_daily_test'

stock_zh_a_daily_qfq_df.to_sql(table_name,
          engine2,
          index     = False,
          if_exists = 'replace')    # 写入数据库  还有一个参数是  append，那是附加在表后

# 添加索引
# curs2.execute("""CREATE  INDEX parallel_tool_1      ON  parallel_tool_并行任务分配信息表  (交易日期); 
#                 CREATE  INDEX parallel_tool_2      ON  parallel_tool_并行任务分配信息表  (分组序号);
#                 CREATE  INDEX parallel_tool_3      ON  parallel_tool_并行任务分配信息表  (处理状态);"""
#             )
# conn2.commit()

symbol

'sz002594'

In [9]:
df = pd.read_sql_query(f"""
    SELECT *
    FROM  {table_name}
  """,
   # params = (date,),
  con = engine2,
)

df.head()

,date,open,high,low,close,volume,outstanding_share,turnover
0,2011-06-30,21.55,25.66,21.55,24.93,56292536.0,64000000.0,0.879571
1,2011-07-01,25.25,27.43,24.49,27.43,33561280.0,64000000.0,0.524395
2,2011-07-04,28.29,30.17,28.00,30.17,21964592.0,64000000.0,0.343197
3,2011-07-05,32.11,33.19,31.24,32.38,38108084.0,64000000.0,0.595439
4,2011-07-06,32.13,34.83,31.46,32.72,31296720.0,64000000.0,0.489011

In [10]:
df[:-5]

,date,open,high,low,close,volume,outstanding_share,turnover
0,2011-06-30,21.55,25.66,21.55,24.93,56292536.0,6.400000e+07,0.879571
1,2011-07-01,25.25,27.43,24.49,27.43,33561280.0,6.400000e+07,0.524395
2,2011-07-04,28.29,30.17,28.00,30.17,21964592.0,6.400000e+07,0.343197
3,2011-07-05,32.11,33.19,31.24,32.38,38108084.0,6.400000e+07,0.595439
4,2011-07-06,32.13,34.83,31.46,32.72,31296720.0,6.400000e+07,0.489011
...,...,...,...,...,...,...,...,...
2673,2022-07-18,344.89,345.89,327.89,336.99,23891156.0,1.164765e+09,0.020512
2674,2022-07-19,336.99,336.99,327.51,330.99,15818025.0,1.164765e+09,0.013580
2675,2022-07-20,332.87,333.75,328.97,331.59,10326348.0,1.164765e+09,0.008866
2676,2022-07-21,328.89,330.89,322.84,324.40,13200328.0,1.164765e+09,0.011333
2677,2022-07-22,325.90,334.55,325.89,329.51,14177374.0,1.164765e+09,0.012172